<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="logo">

    </div>

    <div class="menu-container flex options">
      <app-menu-bottom
      [description]="'Home'"
      [isSelected]="selectedMenu == 'Home'"
      (click)="clickButton('Home')"
      >
        <fa-icon [icon]="homeIcon"></fa-icon>
      </app-menu-bottom>

      <app-menu-bottom
      [description]="'Search'"
      [isSelected]="selectedMenu == 'Search'"
      (click)="clickButton('Search')"
      >
        <fa-icon [icon]="searchIcon"></fa-icon>
      </app-menu-bottom>

      <app-menu-bottom
       [description]="'Artists'"
       [isSelected]="selectedMenu == 'Artists'"
       (click)="clickButton('Artists')"
      >
        <fa-icon [icon]="artistIcon"></fa-icon>
      </app-menu-bottom>
    </div>

    <div class="menu-container flex">
      <span class="playlist-title">
        Playlists
      </span>

      <div class="playlist-scroll">
        <app-menu-bottom
        *ngFor="let playlist of playlists"
        [description]="playlist.name"
        [isSelected]="selectedMenu == playlist.id"
        (click)="clickButton(playlist.id)">
          <fa-icon
           [icon]="playlistIcon">
          </fa-icon>
        </app-menu-bottom>
      </div>
    </div>
</div>

<div class="user-info">
  <app-user-footer></app-user-footer>
</div>
