@import 'variable.scss';

:host {
  display : flex;
  flex-direction : column;
  height: 100vh;
  max-height: 100vh;
  max-width: 300px;
  width: 300;
  padding: 40px 20px 20px 20px;
  background-color: $white;
}
