@import 'variable.scss';

.table{
  width: 100%;
  text-align: left ;
  table-layout: fixed;
  border-collapse: collapse	;

  .play {
    color: $primary-color;
  }

  thead th{
    font-size: .75rem;
    font-weight: 600;
    color: $transparent-black;
  }

  th, td {
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-child(1){
      padding-left: 10px;
    }
  }

  tr{
    &:hover{

      td {
        cursor: pointer;
        color: $primary-color;
      }
    }

    td {
      padding: 10px 20px 10px 0px;
      margin-top: 10px;
      font-weight: 500;
      font-size: .85rem;
      color: $transparent-black-70;

      &:nth-child(1){
        padding-left: 10px;
      }
    }
  }

  .w {
    @for $i from 1 to 10 {
      $width: $i * 5;
      &-#{ $width } {
        width: #{ $width * 1%};
      }
    }
  }

  .playing {
    background-color: $white;
    padding: 10px;
    box-shadow: 0px 0px 15px $transparent-black;

    td{
      color: $primary-color;
    }
  }

  .right{
    text-align: right;
  }
}
