$primary-color: #37AB00;
$background-color: #FBFEF4;
$background-color-2: #FFF;

$white: $background-color-2;

$transparent-black: rgba(0, 0, 0, 0.3);
$transparent-black-20: rgba(0, 0, 0, 0.2);
$transparent-black-03: rgba(0, 0, 0, 0.03);
$transparent-black-70: rgba(0, 0, 0, 0.7);
